.body{
  color:#faf7d2;
}
.col{
  justify-content: flex-start;
}
.typ{
  justify-content: flex-end;
}
.color{
  background-color: #ffd7d4;
}
.div{
  background-color: #000;
}
.h2{
  color:#fff;
}

H1 {
  color: #000080;
  font-size: 200%;
  font-family: Arial, Verdana, sans-serif;
  text-align: center;
}

.typ{
  justify-content: flex-end;
}
