.body{
  background-color: #ffedba;
}

.footer{
  background-color: #f6ff4f;
}
.created{
  margin: auto;
  text-align: center;
  padding: 20px;
}

.div{
  width: 200px;
  height: 200px
}

.premium{
  justify-content: flex-end;
}
