


body{
font-family: Roboto;
display: flex;
justify-content: center;
align-items: center;
min-height: 80vh;
}



.buton{
  width: 200px;
  background-color: #deffcf;
  text-align: center;
  padding: 30px;
  border-radius: 10px;
  color: black;
  transition: transform 1s ease;
}
.buton:hover{
  transform: skewY(200deg);
}
